.container {
    display: flex;
    justify-content: center;
    padding-top: 5em;
    background-color: var(--background-color-200);
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    column-gap: 2.5rem;
    row-gap: 1.5rem;
}

.title {
    font-size: clamp(2em, 3.2vw, 3em);
    /*font-size: 3em;*/
    line-height: 1.15em;
    font-weight: 700;
    color: var(--black-color);
}

.illustration {
    max-width: 576px;
    max-height: calc(100vw / 4);
    min-height: 180px;
    object-fit: cover;
    border-radius: 1.5em;
    width: 100%;
    flex: 4;
}

.text {
    max-width: 576px;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
    flex: 5;
    min-width: 400px;
}

.title {
    padding-bottom: 0.5rem;
}

.paragraph:not(:last-child) {
    padding-bottom: 1em;
}
