.container {
    display: flex;
    gap: 2.5em;
    padding-top: 4.25em;
    padding-bottom: 2em;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--background-color-200);
}

.icon {
    height: 2.5em;
    margin-bottom: 0.75em;
}

.item {
    max-width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: var(--brand-color);
    font-weight: 700;
    margin-bottom: 0.5em;
    text-align: center;
}

.description {
    color: var(--grey-color-100);
    font-weight: 400;
    text-align: center;
}
