.container {
    display: flex;
    gap: 2.5em;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4.25em 1em 5em;
}

.content {
    display: flex;
    flex: 1;
    max-width: 1200px;
    flex-direction: column;
}

.illustration {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.text {
    background-color: rgba(var(--brand-color-rgb), 0.1);
    color: var(--grey-color-100);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    padding: 4em clamp(1.5em, 5vw, 5em) 4.5em;
}

.title {
    color: var(--black-color);
    font-weight: 700;
    font-size: 2em;
    padding-bottom: 0.5rem;
}

.actions {
    padding-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.9rem;
    max-width: fit-content;
}

.button {
    flex: 1;
    display: inline-flex;
    justify-content: center;
    border-radius: 1rem;
    padding: 1.25rem 3em;
    color: white;
    font-weight: 700;
    font-size: 1.15rem;
    line-height: 1.1rem;
    margin-top: auto;
    text-align: center;
    gap: 0.5em;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
}

.contact {
    background: var(--brand-color);
}

.contact::before {
    display: block;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    background: url('/contact.svg') no-repeat;
    background-size: contain;
}

.about {
    background-color: var(--grey-color-100);
}

.about::before {
    display: block;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    background: url('/about.svg') no-repeat;
    background-size: contain;
}
