.container {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.2);
    padding: 1.25em 1.5em;
}

.logo {
    width: 3em;
    height: auto;
}

.brand {
    display: flex;
    flex-direction: column;
    padding-left: 0.5em;
    padding-right: 2em;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 1.125em;
    line-height: 1.375em;
    font-weight: 700;
}

.subtitle {
    font-size: 0.8125em;
    line-height: 1em;
    text-transform: uppercase;
    padding-left: 1px;
}

.navLinks {
    padding-left: 2em;
    display: flex;
    list-style-type: none;
    gap: 2em;
}

.navLink {
    position: relative;
    color: var(--grey-color-100)
}

.navLink.active {
    color: var(--black-color)
}

.navLink::after {
    content: "";
    display: block;
    width: 16px;
    height: 4px;
    background-color: transparent;
    position: relative;
    margin-top: 0.25em;
    border-radius: 2px;
    margin-right: auto;
    margin-left: auto;
}

.navLink.active::after {
    color: var(--black-color);
    background-color: var(--black-color);
}

.navLinks > li {
    font-weight: 700;
    font-size: 0.95em;
}

.end {
    display: flex;
    flex: auto;
    justify-content: flex-end;
}

.search {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-weight: 700;
    font-size: 0.95em;
    font-family: inherit;
}

.search::before {
    display: block;
    content: "";
    width: 1.25em;
    height: 1.25em;
    background: url('/search.svg') no-repeat;
    background-size: contain;
}

.navButtons {
    padding-left: 2em;
    display: flex;
    list-style-type: none;
    gap: 0.75em;
}

.button {
    padding: 1em 1.15em;
    border-radius: 0.875em;
    font-weight: 700;
    font-size: 0.875em;
    line-height: 1.2em;
}

.buttonPrimary {
    color: var(--brand-color);
    background-color: var(--brand-color-15);
}

.buttonSecondary {
    background-color: var(--grey-color-15);
    color: var(--grey-color-100)
}


