.container {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.2);
    padding: 1.25em 1.5em;
}

.logo {
    width: 3em;
    height: auto;
}

.brand {
    display: flex;
    flex-direction: column;
    padding-left: 0.5em;
    padding-right: 2em;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 1.125em;
    line-height: 1.375em;
    font-weight: 700;
}

.subtitle {
    font-size: 0.8125em;
    line-height: 1em;
    text-transform: uppercase;
    padding-left: 1px;
}

.navLinks {
    padding-left: 2em;
    display: flex;
    list-style-type: none;
    gap: 2em;
}

.navLinks > li {
    font-weight: 700;
    font-size: 0.9em;
}

.end {
    display: flex;
    flex: auto;
    justify-content: flex-end;
}

.navButtons {
    padding-left: 2em;
    display: flex;
    list-style-type: none;
    gap: 0.75em;
}

.button {
    padding: 1em 1.15em;
    border-radius: 0.875em;
    font-weight: 700;
    font-size: 0.875em;
    line-height: 1.2em;
}

.buttonPrimary {
    color: var(--brand-color);
    background-color: var(--brand-color-15);
}

.buttonSecondary {
    background-color: var(--grey-color-15);
}
