.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}

.nav {
    background-color: var(--background-color-300);
    display: flex;
    align-items: center;
    padding: 1.25em 1.5em;
}

.logo {
    width: 3em;
    height: auto;
}

.brand {
    display: flex;
    flex-direction: column;
    padding-left: 0.5em;
    padding-right: 2em;
}

.brandTitle {
    font-size: 1.125em;
    line-height: 1.375em;
    font-weight: 700;
}

.brandSubtitle {
    font-size: 0.8125em;
    line-height: 1em;
    text-transform: uppercase;
    padding-left: 1px;
}


.end {
    display: flex;
    flex: auto;
    justify-content: flex-end;
}

.navButtons {
    padding-left: 2em;
    display: flex;
    list-style-type: none;
    gap: 0.75em;
}

.button {
    padding: 1em 1.15em;
    border-radius: 0.875em;
    font-weight: 700;
    font-size: 0.875em;
    line-height: 1.2em;
}

.buttonPrimary {
    color: var(--brand-color);
    background-color: var(--brand-color-15);
}

.buttonSecondary {
    background-color: var(--grey-color-15);
    color: var(--grey-color-100)
}

.searchTitle {
    font-weight: 700;
    font-size: 1em;
    color: var(--black-color);
}
