.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-top: 5em;
    background-color: var(--background-color-300);
}

.content {
    margin-left: calc(calc(100vw - 1200px) / 2);
}

.form {
    background-color: white;
    border-radius: 1.5rem;
    padding: 0.8rem;
    display: flex;
    gap: 0.5rem;
}

.toggleButton {
    display: flex;
    gap: 0.5em;
    background-color: rgba(var(--brand-color-rgb), 0.15);
    border-radius: 1rem;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
}

.toggleButton::before {
    content: "";
    display: block;
    background: url('/toggle.svg') no-repeat;
    background-size: contain;
    width: 1.15rem;
    background-position-y: center;
}

.toggleOptions {
    display: flex;
    flex-direction: column;
    color: var(--brand-color);
    font-weight: 400;
    font-size: 0.8rem;
    min-width: 5rem;
}

.toggleOptions > .toggleOptionActive {
    font-weight: 700;
    font-size: 0.95rem;
}

.title {
    font-weight: 700;
    font-size: 1em;
    color: var(--black-color);
    padding-bottom: 0.5rem;
}

.select {
    display: inline-block;
    max-width: 100%;
    position: relative;
    vertical-align: top;
}

.select::after {
    border: 3px solid var(--brand-color);
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: .5rem;
    width: .5rem;
    margin-top: -.5rem;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    right: 1.35rem;
    z-index: 4;
}

.select select {
    cursor: pointer;
    display: block;
    font-size: 0.95rem;
    max-width: 100%;
    outline: 0;
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 1rem;
    color: var(--brand-color);
    font-weight: 700;
    -webkit-appearance: none;
    align-items: center;
    box-shadow: none;
    height: 100%;
    justify-content: flex-start;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
    padding: calc(0.5em - 1px) 3rem calc(0.5em - 1px) calc(1.3125rem - 1px);
}

.select select option {
    font-size: 1.15rem;
    color: var(--black-color)
}

.select select:focus {
    border-color: var(--brand-color);
    outline: none;
}

.localisation select {
    color: #7D7D7D;
    font-weight: 400;
    padding: calc(0.5em - 1px) 6rem calc(0.5em - 1px) calc(1.3125rem - 1px);
}

.localisation::after {
    color: #7D7D7D;
    border-color: #7D7D7D;
}

.searchButton {
    color: white;
    background-color: var(--brand-color);
    border: none;
    border-radius: 1rem;
    width: 3.65rem;
}
