.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 5em;
    background-color: var(--background-color-300);
    padding-left: 1em;
    padding-right: 1em;
}

.content {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form {
    background-color: white;
    border-radius: 1.5rem;
    padding: 0.8rem;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.toggleButton {
    display: flex;
    gap: 0.5em;
    background-color: rgba(var(--brand-color-rgb), 0.15);
    border-radius: 1rem;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
}

.toggleButton::before {
    content: "";
    display: block;
    background: url('/toggle.svg') no-repeat;
    background-size: contain;
    width: 1.15rem;
    background-position-y: center;
}

.toggleOptions {
    user-select: none;
    display: flex;
    flex-direction: column;
    color: var(--brand-color);
    font-weight: 400;
    font-size: 0.8rem;
    min-width: 5rem;
}

.toggleOptions > .toggleOptionActive {
    font-weight: 700;
    font-size: 0.95rem;
}

.title {
    font-weight: 700;
    font-size: 1em;
    color: var(--black-color);
    padding-bottom: 0.5rem;
}

.row {
    display: inline-flex;
    gap: 0.75em;
    flex: 1;
}

.select {
    max-width: 100%;
    min-width: 200px;
    min-height: 3.75em;
    position: relative;
    vertical-align: top;
    display: inline-flex;
    flex: 1;
}

.select::after {
    border: 3px solid var(--brand-color);
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: .5rem;
    width: .5rem;
    margin-top: -.5rem;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    right: 1.35rem;
    z-index: 4;
}

.select select {
    width: 100%;
    cursor: pointer;
    display: block;
    font-size: 0.95rem;
    max-width: 100%;
    outline: 0;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 1rem;
    color: var(--brand-color);
    font-weight: 700;
    -webkit-appearance: none;
    align-items: center;
    box-shadow: none;
    height: 100%;
    justify-content: flex-start;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
    padding: calc(0.5em - 1px) 3rem calc(0.5em - 1px) calc(1.3125rem - 1px);
    text-transform: capitalize;
}

.select select option {
    font-size: 1.15rem;
    color: var(--black-color)
}

.select select:focus {
    border-color: var(--brand-color);
    outline: none;
}

.category, .city {
    text-transform: capitalize;
}

.categories select {
    min-width: 250px;
}

.locations select {
    color: #7D7D7D;
    font-weight: 400;
    min-width: 280px;
}

.locations.active select {
    color: var(--brand-color);
    font-weight: 700;
}

.locations::after {
    color: #7D7D7D;
    border-color: #7D7D7D;
}

.searchButton {
    cursor: pointer;
    color: white;
    background-color: var(--brand-color);
    border: none;
    border-radius: 1rem;
    width: 3.65rem;
}
