.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 5em;
    padding-left: 1em;
    padding-right: 1em;
}

.content {
    display: grid;
    margin-bottom: 5em;
    background: rgba(var(--brand-color-rgb), 0.1);
    border-radius: 40px;
}

.text {
    display: flex;
    flex-direction: column;
    padding: clamp(1.5em, 4vw, 4em);
    color: var(--grey-color-100);
    max-width: 800px;
    align-items: flex-start;
    grid-column: 1;
}

.paragraph:not(:last-child) {
    padding-bottom: 1.5em;
}

.paragraph {
    font-size: 1.125em;
}

.title {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    line-height: 1.05em;
    font-weight: 700;
    color: var(--black-color);
    padding-bottom: 1rem;
}

.button {
    color: #fff;
    background-color: var(--brand-color);
    padding: 1.15em 2.75em;
    border-radius: 0.875em;
    font-weight: 700;
    font-size: 1.15em;
    line-height: 1.1em;
    margin-top: auto;
    text-align: center;
    cursor: pointer;
}

.buttonText {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.buttonText::before {
    display: block;
    content: "";
    width: 1em;
    height: 1em;
    background: url('/contact.svg') no-repeat;
    background-size: contain;
}

@media screen and (max-width: 1023px) {
    .text {
        grid-row: 2;
    }

    .button {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .illustration {
        grid-row: 1;
    }

    .illustration > img {
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        max-height: 300px;
    }
}

@media screen and (min-width: 1024px) {
    .illustration {
        grid-column: 2;
    }

    .illustration > img {
        height: 100%;
        object-fit: cover;
        border-bottom-right-radius: 2em;
        border-top-right-radius: 2em;
    }
}
