.container {
    display: grid;
    position: relative;
}

.overlay {
    border-radius: 1rem;
    object-fit: cover;
    max-width: 700px;
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    z-index: 99;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 25.06%);
}

.image {
    border-radius: 1rem;
    object-fit: cover;
    max-width: 700px;
    width: 100%;
    grid-column: 1;
    grid-row: 1;
}

.active {
    z-index: 98;
}

.toolbar {
    position: absolute;
    display: flex;
    content: "";
    z-index: 100;
    gap: 0.25rem;
    align-items: center;
    bottom: 0;
    width: 100%;
    padding-bottom: 0.75em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.previous::before {
    display: block;
    content: "";
    width: 2.5rem;
    height: 2.5rem;
    background: url('/previous.svg') no-repeat;
    background-size: contain;
    user-select: none;
    cursor: pointer;
}

.next::before {
    display: block;
    content: "";
    width: 2.5rem;
    height: 2.5rem;
    background: url('/next.svg') no-repeat;
    background-size: contain;
    z-index: 100;
    user-select: none;
    cursor: pointer;
}

.counter {
    color: white;
    font-size: 0.9rem;
    z-index: 100;
    user-select: none;
    padding-left: 0.5rem;
}

@media screen and (max-width: 1023px) {
    .toolbar {
        justify-content: space-between;
        gap: 1em;
    }
    .previous {
        order: 0;
    }
    .counter {
        order: 1;
        padding-left: 0;
    }
    .next {
        order: 2;
    }
}
