.container {
    display: flex;
    gap: 0.25em;
    align-items: center;
}


.item:first-child {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.item:last-child {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
.item {
    height: 0.75em;
    width: 2.75em;
}

.item.active {
    height: 2em;
    border-radius: 0.15rem;
}

.active::before {
    content: attr(data-rating);
    text-transform: uppercase;
    color: black;
    font-size: 1.35em;
    font-weight: 700;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
