.container {
    background-color: rgba(var(--brand-color-rgb), 0.1);
    border-radius: 1rem;
    padding: 0.5rem;
    flex: 1;
    cursor: pointer;
    user-select: none;
}

.content {
    display: flex;
    align-items: center;
    position: relative;
}

.image {
    max-width: 120px;
    max-height: 120px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.overview {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    color: var(--black-color);
    padding: 1.25em;
    flex: 1;
    flex-wrap: wrap;
}

.title {
    font-size: 1.125em;
    font-weight: 700;
    text-transform: lowercase;
    display: flex;
    gap: 0.35em;
    padding-bottom: 0.35em;
    white-space: nowrap;
}

.title .city {
    display: block;
    text-transform: lowercase;
}

.title .city:first-letter {
    text-transform: uppercase;
}

.type {
    text-transform: capitalize;
}

.location {
    display: flex;
    align-items: center;
    color: var(--brand-color);
    font-size: 1em;
    font-weight: 700;
    gap: 0.15em;
}

.location::before {
    display: inline-flex;
    content: "";
    background-image: url('/location.svg');
    width: 1.15rem;
    height: 1.15rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.city {
    text-transform: lowercase;
}

.city:first-letter {
    text-transform: uppercase;
}

.area {
    flex: 1;
    color: var(--grey-color-100)
}

.fill {
    height: 1.5em;
}

.price {
    font-size: 2em;
    font-weight: 700;
    color: var(--brand-color);
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    min-width: 160px;
    border-left: 1px solid rgba(var(--brand-color-rgb), 0.15);
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

@media screen and (max-width: 767px) {
    .price {
        position: absolute;
        right: 1em;
        bottom: 0.35rem;
        border: none;
        padding: 0;
        margin: 0;
        display: block;
        text-align: end;
    }
}
