.section {
    background-color: var(--background-color-100);
    padding: 3rem 1em 5rem;
}

.content {
    max-width: 1200px;
    margin: auto;
}

.title {
    font-size: 1.5em;
    padding-bottom: 2.5rem;
    color: var(--black-color);
}

.result {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.resultHeader {
    color: var(--black-color);
    font-weight: 400;
}

.resultList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.main {
    display: flex;
    align-items: flex-start;
    gap: 4rem;
}
