.section {
    padding-top: 3rem;
    background-color: var(--background-color-100);
    padding-bottom: 5rem;
}

.content {
    max-width: 1200px;
    margin: auto;
}

.title {
    font-size: 1.5em;
    padding-bottom: 2.5rem;
}
