name: Update data

on:
  schedule:
    - cron:  '0 5 * * *'
  workflow_dispatch:

jobs:
  update-data:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Get export.xml
      run: |
        curl https://export.via-humanis-immobilier.fr/export.xml -u ${{secrets.HTTP_USERNAME}}:${{secrets.HTTP_PASSWORD}} -o ./data/export.xml
    - uses: actions/setup-node@v4
      with:
        node-version: 20
    - run: npm ci
    - run: |
        node tasks/update-data.js
    - name: Commit and push
      run: |
        git config --global user.name "Jn Bourrat"
        git config --global user.email "jnbourrat.dev@gmail.com"
        git add public/data/pericles/images
        git commit -a -m "Update Real Estate Assets" || true
        git push
